{% extends 'base.html' %}

{% block title %}myreserve{% endblock %}

{% block content %}
<style>
    .title2 {
    font-size: 20px;
    text-align: center;
    }

    table {
        padding: 1%;
        width: 100%;
        font-size: 20px;
        background: #ccc;
        border-radius: 20px;
    }
    td {
        padding: 2%;
    }
    #entity {
        background: #ccecff;
        text-align: center;
    }
    #content {
        background: white;
        text-align: left;
        width: 60%;
    }
    #wrap {
        text-align: center;
        width: 40%;
        padding-left: 5%;
        padding-right: 5%;
        float: left;
    }
    @media all and (max-width: 800px){
        #wrap {
            width: 60%;
            padding-left: 20%;
        }
    }
</style>

<p class="title" style="color: #014167">내 예약</p>
    <p class="title2" style="color: #b52400;"># 현재 시각 기준 유효한 예약만 표시됩니다.</p>
    <div id="wrap">
            <p class="title" style="color: #014167; margin-bottom: 0%;">세탁기</p>
        <table>
            <tr><td id="entity" style="border-top-left-radius: 20px">사용자 번호</td> 
                <td id="content" style="border-top-right-radius: 20px">{{user.pk}}</td></tr>
            <tr><td id="entity">사용자 카드번호</td> 
                <td id="content">{{user.CardId}}</td></tr>
            <tr><td id="entity">기기정보</td>
                {% if error1 == True %}
                <td id="content"></td>
                {% else %}
                <td id="content">308관 남자 /  {{recent_W.MachineId}}번 세탁기</td>{% endif %}</tr>
            <tr><td id="entity" style="border-bottom-left-radius: 20px">예약만료시간</td> 
                {% if error1 == True %}
                <td id="content" style="border-bottom-right-radius: 20px"></td>
                {% else %}
                <td id="content" style="border-bottom-right-radius: 20px">{{recent_W.ValidTime}}{% endif %}</td></tr>
        </table>
        <br>
        {% if error1 == True %}
        {% else %}
        <input class="button" type="button" onclick="location.href='/reserve/cancel'" value="예약취소"></input>
        {% endif %}
    </div>

    <div id="wrap">
            <p class="title" style="color: #014167; margin-bottom: 0%;">건조기</p>
        <table>
            <tr><td id="entity" style="border-top-left-radius: 20px">사용자 번호</td> 
                <td id="content" style="border-top-right-radius: 20px">{{user.pk}}</td></tr>
            <tr><td id="entity">사용자 카드번호</td> 
                <td id="content">{{user.CardId}}</td></tr>
            <tr><td id="entity">기기정보</td>
                {% if error2 == True %}
                <td id="content"></td>
                {% else %}
                <td id="content">308관 남자 / {{recent_D.MachineId}}번 건조기</td> {% endif %}</tr>
            <tr><td id="entity" style="border-bottom-left-radius: 20px">예약만료시간</td>
                {% if error2 == True %}
                <td id="content" style="border-bottom-right-radius: 20px"></td>
                {% else %}
                <td id="content" style="border-bottom-right-radius: 20px">{{recent_D.ValidTime}}{% endif %}</td></tr>
        </table>
        <br>
        {% if error2 == True %}
        {% else %}
        <input class="button" type="button" onclick="location.href='/reserve/cancel'" value="예약취소"></input>
        {% endif %}
    </div>
</div>


{% endblock %}