{% extends 'base.html' %}

{% block title %}howtouse{% endblock %}

{% block content %}

<style>
    table {
        width: 100%;
        font-size: 20px;
        background: #ccc;
    }
    td {
        padding: 3%;
        background: white;
        text-align: left;
        vertical-align: top;
    }
    #wrap {
        text-align: center;
        width: 60%;
        padding-left: 20%;
        font-size: 20px;
        text-align: center;
    }
    @media all and (max-width: 800px){
        #wrap {
            width: 80%;
            padding-left: 10%;
        }
    }
</style>
        <p class="title" style="color: #014167">Made by</p><br>
    <div id="wrap">    
        <table>
            <tr>
                <td>김민기</td>
                <td>남혜린</td>
            </td>
            <tr>
                <td>송창욱</td>
                <td>이채민</td>
            </td>
        </table>
    </div>
{% endblock %}